body {
    font-family: 'Mali', cursive;
    background-color: #efead7;
    background-image: url('icons/settings-background.svg');
    background-repeat: repeat;
    background-size: 140px 140px;
    background-position: 0 0;
    animation: moveBackground 10s linear infinite;
    transform-origin: top left;
}

@keyframes moveBackground {
    0% { background-position: 0 0; }
    100% { background-position: 200px 200px; }
}

h1 {
    color: #4b9560;
}

/* Settings Tab */

.settings-tab-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
}

.settings-tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    height: 100px;
    position: relative;
}

.settings-tab-label {
    display: none;
    background-color: #4b9560;
    color: #fbfbf7;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 18px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    white-space: nowrap;
    max-width: none;
}

.settings-tab-item.active .settings-tab-label {
    display: inline-block;
}

.settings-tab-button {
    width: 62.5px;
    height: 62.5px;
    border-radius: 50%;
    background-color: #fbfbf7;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.settings-tab-icon {
    width: 30px;
    height: 30px;
    transition: filter 0.3s ease;
    filter: invert(86%) sepia(8%) saturate(176%) hue-rotate(358deg) brightness(90%) contrast(90%);
}

.settings-tab-button:hover .settings-tab-icon {
    filter: invert(62%) sepia(12%) saturate(114%) hue-rotate(357deg) brightness(92%) contrast(87%);
    transform: scale(1.05); /* Scale up on hover */
}

.settings-tab-button.active .settings-tab-icon {
    filter: invert(48%) sepia(79%) saturate(376%) hue-rotate(93deg) brightness(88%) contrast(84%);
    animation: spin 0.5s forwards;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Switch from Uiverse.io by namecho https://uiverse.io/namecho/quiet-panther-93*/

.switch {
    --button-width: 2.625em;
    --button-height: 1.5em;
    --toggle-diameter: 1.125em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 2.25em;
    --color-grey: #d7d3c2;
    --color-green: #4b9560;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.switch span {
    color: #1d3c34;
    font-size: 1.2em;
    margin-right: 0.5em;
}

.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

/* Character Card */

.character-card:hover {
    transform: scale(1.05);
}

/* Character Grid */
.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 12px;
    max-width: 100%;
    overflow-x: auto;
    padding: 10px;
}

.character-card {
    position: relative;
    width: 12rem;
    transition: transform 0.3s;
    z-index: 1;
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.character-name {
    position: absolute;
    bottom: 15px;
    left: 13px;
    color: #fbfbf7;
}

.add-character {
    cursor: pointer;
}

.character-card:hover {
    transform: scale(1.05);
    z-index: 2;
}

#characters-tab > div {
    overflow-x: auto;
}

/* Key Input */

.input-container {
    margin-bottom: 20px;
}

.input-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.rounded-input {
    padding: 10px 40px 10px 15px;
    border-radius: 20px;
    border: 1px solid #4B9560;
    font-size: 1em;
    width: 350px;
}

.input-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    filter: invert(48%) sepia(79%) saturate(376%) hue-rotate(93deg) brightness(88%) contrast(84%);
    top: 50%;
    transform: translateY(-50%);
}

.toggle-visibility {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.save-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #4B9560;
    color: #fbfbf7;
    font-size: 1em;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #1D3C34;
    transition: filter 0.3s ease;
}

#assistantShortcut {
    margin-left: 10px;
    padding: 5px;
    width: 150px;
    font-family: 'Mali', cursive;
    border: 1px solid #4B9560;
    border-radius: 5px;
    background-color: #fbfbf7;
    color: #1d3c34;
}